<!DOCTYPE html>
<html>

<!-- ################################ LIBRARIES, SCRIPTS, ETC ################### -->
<head>



	<meta charset="utf-8">
	<title>JumbulIt</title>

	<!-- Fullpage -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.5/jquery.fullPage.css" />

	<!-- JQuery Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- Fullpage(2) -->
	<link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.5/vendors/jquery.easings.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.5/jquery.fullPage.min.js"></script>

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

	<!-- underscore -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

	<!-- Local Files -->
	<script type="text/javascript" src="/scripts/main.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/main.css">

</head>



<!-- ############################################################# -->


<body>

	<div id="navbar">
		<nav>
		  <div class="nav-wrapper">
		  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		    <a href="#" class="brand-logo center">
		    	<img src="/images/logo.png" class="logo-image">
		    </a>
		    <ul id="nav-mobile" class="left hide-on-med-and-down">
		      <li><a href="#landingPage" class="logged-out">Home</a></li>
		      <li><a href="#about" class="logged-out">About</a></li>
		      <li><a href="#madeBy" class="logged-out">Made By</a></li>
		    </ul>
		    <ul id="nav-mobile" class="right hide-on-med-and-down">
		      <li><a href="/">Jumbles</a></li>
		      <li><a href="/" class="profile-link logged-in">Profile</a></li>
		      <li><a href="#registerModal" class="register-link logged-out modal-trigger">Sign up</a></li>
		      <li><a href="#loginModal" class="login-link logged-out modal-trigger">Log In</a></li>
		      <li><a href="/" class="logout-link logged-in">Log Out</a></li>
		    </ul>
		  </div>
		</nav>
	</div>

	<!-- 		    	****************** WELCOME PAGE ******************** -->

	<!-- Registration -->
	<div class="modal" id="registerModal">
		<div class="modal-content">
			<h4>Register</h4>
			<form class="register col s12" method="post" action="/register">
				<div class="row">
						<input type="text" name="username" class="validate" placeholder="Username">
						<input type="text" name="fullname" class="validate" placeholder="Full name">
						<input type="text" name="image" class="validate" placeholder="Image URL">
						<input type="email" name="email" class="validate" placeholder="Email">
						<input type="password" name="password" class="validate" placeholder="Password">
				</div>
				<button type="submit" class="btn waves-effect modal-action modal-close">Submit<i class="material-icons right">send</i></button>
			</form>
		</div>
	</div>

	<!-- Login -->
	<div class="modal" id="loginModal">
		<div class="modal-content">
			<h4>Login</h4>
			<form class="login" method="post" action="/login">
				<input type="email" name="email" id="login-email" class="form-control" placeholder="Email">
				<input type="password" name="password" id="login-password" class="form-control"  placeholder="Password">
				<button type="submit" class="btn waves-effect modal-action modal-close">Submit<i class="material-icons right">send</i></button>
			</form>
		</div>
	</div>

	<div id="fullpage">
		<div class="section"></div>
		<div class="section"></div>
		<div class="section"></div>
		<div class="section"></div>
	</div>

		<!-- 		    	**************HOMEPAGE************************ -->


	<section id="newsfeed">

	<script type="text/x-template" id="list-template">
	 

		     <div class="col s1 m3">
		       <div class="card">
		         <div class="card-image">
		           <img class="materialboxed" src="./images/culture.jpg">
		           <span class="card-title"></span>
		         </div>
		         <div class="card-content">
		           <p class="articles"> <%= title %> </p>
		         </div>
		         <div class="card-action">
		           <a target="_blank" href="<%= article_url %>">This is a link</a>
		         </div>
		       </div>
		     </div>
	</script>

	<div class="row">
		<ul id="my-list"></ul>
	</div>

	</section>		

		<!-- 		    	**************PROFILEPAGE************************ -->

	<section id="profileSection">
		<!--<script type="text/x-template" id="profile-template">-->
			<div class="row">
				<div class="col-s1-m3">
					
				</div>
			</div>
		<!--</script>-->
	</section>

</body>
</html>
