*{
  font-family: bookman;
}

body {
  background-color: #A5D8FF;
  margin-top: 125px;
}

h1 {
  color: #FAFAFA;
  font-size: 160px;
  text-align: center;
}

.section{
  font-size: 10px;
  text-align: center;
}
.fullpage {
  width: 100%;
  height: 100%;
}

.profile_container {
  background-color: white;
  margin: 30px;
  margin-top: 50px;
}

nav .nav-wrapper {
  height: 95px;
}
#navbar{
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 95px;
}

nav {
  background-color: transparent;
  box-shadow: none;
}
.logo-image {
  height: 170px;
}

.card {
  height: 370px;
}

.user-info-row-1 {
  margin-top: 100px;
}

/*.profile-pik {
  padding: 50px;
}*/
.user-fullname-txt {
  text-decoration: bold;
  font-size: 40px; 
}

.user-info-txt {
  text-decoration: bold;
  font-size: 20px; 
}

#newsfeed {
  padding-top: 90px;
  padding-left: 120px;
  padding-right: 120px;
}

#video-card {
  height: 250px;
}


@import url(http://c.boylett.uk/fonts/fontawesome/fontawesome.css);

html, body { height: 100% }

body
{
/*  background: url(http://c.boylett.uk/images/wallpapers/009.jpg);
  background-size: 100% 100%;*/
}

.widget
{
  position: relative;
  width: 300px;
  height: 350px;
  margin: 210px auto;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
}

.widget > .cover
{
  height: 160px;
  overflow: hidden;
}

.widget > .cover > img
{
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}

.widget > .photo
{
  position: absolute;
  top: 85px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -55px;
  border: 5px solid #FFF;
  border-radius: 50%;
}

.widget > h1, .widget > h2, .widget > h3
{
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #999;
}

.widget > h1
{
  margin: 60px 0 20px;
  font-size: 26px;
  color: #000;
}

.widget > h3 { font-size: 12px }

.widget > ul
{
  position: absolute;
  top: 20px;
  left: 100%;
  background: #2CDFD3;
  border-radius: 0 3px 3px 0;
}

.widget > ul > li > a
{
  display: block;
  padding: 5px 6px;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #2CD5CA;
  transition: background-color .3s;
}

.widget > ul > li:hover > a { background-color: #2CD5CA }
.widget > ul > li:first-child > a { border-radius: 0 3px 0 0 }

.widget > ul > li:last-child > a
{
  border: none;
  border-radius: 0 0 3px 0;
}