*{
  font-family: bookman;
}

body {
  background-color: #A5D8FF;
  margin-top: 125px;
}

h1 {
  color: #FAFAFA;
  font-size: 160px;
  text-shadow: 5px 5px #282828;
  text-align: center;
}

.section{
  font-size: 10px;
  text-align: center;
}
.fullpage {
  width: 100%;
  height: 100%;
}

.profile_container {
  background-color: white;
  margin: 30px;
  margin-top: 50px;
}

nav .nav-wrapper {
  height: 95px;
}
#navbar{
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 95px;
}

nav {
  background-color: transparent;
  box-shadow: none;
}
.logo-image {
  height: 170px;
}

.card-image {
  height: 230px;
}

.card-content {
  height: 110px;
}

.card {
  height: 420px;
}

.user-info-row-1 {
  margin-top: 100px;
}

/*.profile-pik {
  padding: 50px;
}*/
.user-fullname-txt {
  text-decoration: bold;
  font-size: 40px; 
}

.user-info-txt {
  text-decoration: bold;
  font-size: 20px; 
}

#newsfeed {
  padding-top: 90px;
  padding-left: 120px;
  padding-right: 120px;
}

#video-card {
  height: 250px;
}

/*@import url(http://fonts.googleapis.com/css?family=Lato:300);*/

.profile_ting {
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  background-color: #f2f2f2;
  color: #444;
  font-family: bookman;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.profile-img {
  display: block;
  height: 7em;
  margin-right: auto;
  margin-left: auto;
  border: .5em solid #f2f2f2;
  border-radius: 100%;
  box-shadow:  0 1px 0 0 rgba(0,0,0,.1);
}

.profile-text {
  margin-top: -3.5em;
  padding: 5em 1.5em 1.5em 1.5em; 
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)
}

.profile-name{
  margin-right: -1em;
  margin-bottom: .75em;
  margin-left: -1em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: .75em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.profile-title {
  color: #ccc;
}

h1 {
  font-family: bookman;
}