body {
  background-color: #A5D8FF;
  margin-top: 125px;
}

h1 {
  font-family: hanging letters;
  color: #FAFAFA;
  font-size: 160px;
  text-shadow: 5px 5px #282828;
  text-align: center;
}

.section{
  font-size: 10px;
  text-align: center;
}
.fullpage {
  width: 100%;
  height: 100%;
}

nav .nav-wrapper {
  height: 95px;
}
#navbar{
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 95px;
}

nav {
  background-color: transparent;
  box-shadow: none;
}
.logo-image {
  height: 95px;
}

.card-image {
  height: 230px;
}

.card-content {
  height: 110px;
}

.card {
  height: 420px;
}

.user-info-row-1 {
  margin-top: 100px;
}

/*.profile-pik {
  padding: 50px;
}*/
.user-fullname-txt {
  text-decoration: bold;
  font-size: 40px; 
}

.user-info-txt {
  text-decoration: bold;
  font-size: 20px; 
}